body {
  text-align: center;
  background-color: black;
}

.App-logo {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.title-bar {
  position: absolute;
  top: 10%;
  left: 22%;
  transform: translate(-50%, -50%);
}

 .title {
  color: #FFFFFF;
  font-family: 'Parisienne';
}

.subtitle {
  color: #FFFFFF;
  font-family: 'Assistant';
}

.social-box {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 10%;
  left: 80%;
  column-span: 1;
}

.social {
  margin: .25rem;
}

/* Responsive Design for mobile */
@media only screen and (max-width: 1024px) {
  .social-box {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 100%;
  }

  .title-bar {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 100%;
  }


  .image {
    position: absolute;
    top: 30%;
    width: 100%;
  }
}