.App {
  text-align: center;
  background-image: linear-gradient(to top,transparent, rgba(232, 199, 200, 0.879) 100%);
}

.App-logo {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

 div .title {
  position: absolute;
  top: 2.5%;
  left: 22%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-family: 'Parisienne';
  column-span: 2;
}

div .subtitle {
  position: absolute;
  top: 12%;
  left: 22%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-family: 'Assistant';
  column-span: 2;
}

.social-box {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 10%;
  left: 80%;
  column-span: 1;
}

.social {
  margin: .25rem;
}